<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cfxc.router">

    <application>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".dispatcher.DispatcherActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <data
                    android:host="@string/host"
                    android:scheme="@string/scheme" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>